/* ========= Font Link Part Start ========= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ------------ Font Link Part End ------------ */
/* ========= Common CSS Part Start ========= */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul, ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, ul, ol, p{
    margin: 0;
    padding: 0;
    outline: 0;
}
.common_heading h4{
    font-size: 24px ;
    font-weight: 600;
    font-family: var(--titillium);
    color: black !important;
    text-align: center;
}
.common_heading h3{
    font-size: 32px ;
    font-weight: 600;
    font-family: var(--titillium);
    color: black !important;
    text-align: center;
}
.common_heading h3 span{
    color: var(--brand-color);
}
.common_heading p{
    font-size: 18px ;
    font-weight: 400;
    font-family: var(--titillium);
    color: var(--primary-color);
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.common_heading p span{
    display: block;
}
/* ------------ Common CSS Part End ------------ */
/* ========= Variable Part Start ========= */
:root{
    --primary-color: #3F3F41;
    --brand-color:#ff497c; 
    --titillium: 'Montserrat', sans-serif;
}
/* ------------ Variable Part End ------------ */
/* =========== back to top button start ============== */
.top_button{
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50px;
    font-size: 18px;
    color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all linear;
    border: 5px solid #ff497c;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 999;
    visibility: hidden;
    opacity:0;
}
.top_button:hover{
    background: var(--brand-color);
    color: #fff;
    cursor: pointer;
}
.go_top{
    visibility: visible;
    opacity: 1;
    animation: came_top 1s;
}
@keyframes came_top{
    from{
        bottom: -10%;
    }
    to{
        bottom: 10%;
    }
}
/* ------------ back to top button end */
/* ========= Menubar Part Start ========= */
#menubar{
    background-color: whitesmoke;
}
.menubar .logo{
    width: 160px;
}
.menu_item li{
    padding: 0 12px;
    text-transform: uppercase;
    color: black;
}

.menu_item li a{
    font-size: 18px ;
    font-weight: 600;
    font-family: var(--titillium);
    color: whitesmoke;
    transition: 0.2s all linear;
    text-align: center;
    display: block;
    position: relative;
}

.menu_item:hover li a{
    transform: scale(1.15);
    opacity: 0.5;
    filter: blur(5px);
}
.menu_item li a:hover{
    color: whitesmoke;
    transform: scale(1.25);
    opacity: 1;
    filter: blur(0);
}

.menu_item li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--brand-color);
    color: whitesmoke !important;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index: -1;
}

.menu_item li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
}

.sticky_navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    animation: nav_ani 1s;
}




@keyframes nav_ani{
    from{
        top: -10%;
    }
    to{
        top: 0;
    }
}

/* ------------ Menubar Part End ------------ */
/* =========Banner Part Start ========= */
#banner{
    width: 100%;
    background: url(../images/banner_bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 185px 0;
}

.banner_text h1{
    font-size: 140px;
    font-weight: 900;
    font-family: var(--titillium);
    color: var(--brand-color);
    margin:20px 0 20px 0;
    padding-bottom: 30px;
    text-shadow: #000000 4px 4px 4px;
}

.banner_text h1 span{
    color: #576DB4;
}

.banner_text h2 span{
    color: var(--primary-color);
}
.banner_text h3{
    font-size: 32px;
    font-weight: 700;
    font-family: var(--titillium);
    color: whitesmoke !important;
    margin-left: 10px;
    text-shadow: #000000 4px 4px 4px;
}

.banner_text h4{
    font-size: 24px;
    font-weight: 700;
    font-family: var(--titillium);
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 10px;
    text-shadow: #000000 2px 2px 2px;
}

.banner_text p{
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--titillium);
    color: whitesmoke;
    margin-top: 3px;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    margin-left: 10px;
}
.banner_button a{
    width: 160px;
    height: 40px;
    background: var(--brand-color);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--titillium);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 62px ;
    margin-left: 10px;
    transition: 0.2s all linear;
}
.banner_button a:hover{
    background:#576DB4;
    color: whitesmoke;
    font-weight: 500;
    transform: scale(1.1);
}   
/* ------------ Banner Part End ------------ */
/* ========= Tools Part Start ========= */
#tools{
    width: 100%;
    background: url(../images/tools_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0;
}
.tools_cards{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.tools_item .tools_text{
    text-align: center;
}

.tools_item{
    width: 280px;
    background: #fff;
    padding: 24px 24px 24px 20px;
    border-radius: 5px;
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2), 15px 15px 15px rgba(0,0,0,0.1), inset -5px -5px 5px rgba(255,255,255,0.2), inset 5px 5px 5px rgba(0,0,0,0.1);
    transition: 0.2s all linear;
    cursor: pointer;
}
.tools_item:hover{
    background: var(--brand-color);
    transform: scale(1.1);
    color: whitesmoke;
}

.tools_item .tools_text p{
    font-size: 18px;
    font-weight: 900;
    font-family: var(--titillium);
    text-align: center;
    margin-top: 22px;
    transition: 0.2s all linear;
    justify-content: center;
}


/* ------------ Tools Part End ------------ */
/* ========= Features Part Start ========= */
#features{
    width: 100%;
    background: #FFFFFF;
    padding: 120px 0;
}
.feature_slider{
    position: relative;
}
.feature_slider .feature_slider_item{
    width:100%;
    padding: 40px 40px 50px 40px ;
    border-radius: 17px;
}
.feature_slider_img img{
    height: 240px;
    border-radius: 17px;
}
.feature_text{
    padding: 20px;
}
.feature_slider_item .feature_text h3{
    font-size: 25px;
    font-weight: 500;
    font-family: var(--titillium);
    line-height: 24px;
    text-align: center;
    color:#1E1E1E ;
    margin-top: 16px;
}
.feature_slider_item .feature_text p{
    width:100%;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--titillium);
    line-height: 30px;
    color:var(--secondary-color) ;
    margin: 20px 0;
    text-align:justify;
}
.feature_button a{
    width: 90% ;
    height: 35px;
    background: var(--primary-color);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--titillium);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.slick-center{
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2), 15px 15px 15px rgba(0,0,0,0.1), inset -5px -5px 5px rgba(255,255,255,0.2), inset 5px 5px 5px rgba(0,0,0,0.1);
    border-radius: 17px;
    margin-bottom: 50px;
}
.slick-center .feature_button a{
    background: var(--brand-color);
    box-shadow: -15px -15px 15px rgba(255,255,255,0.2), 15px 15px 15px rgba(0,0,0,0.1), inset -5px -5px 5px rgba(255,255,255,0.2), inset 5px 5px 5px rgba(0,0,0,0.1);
}
.prevarrow, .nextarrow{
    height: 40px;
    width: 40px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index:999;
    top: 50%;
    opacity: 0;
    visibility: 0;
    transition: 0.3s all linear;
}
.nextarrow{
    right: 0;
}
.feature_slider:hover .prevarrow,
.feature_slider:hover .nextarrow{
    opacity: 1;
    visibility: visible;
}
/* ------------ Features Part End ------------ */

/* ========= Works Part Start ========= */
#works{
    width: 100%;
    padding: 100px 0;
    background: url(../images/tools_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.works_text_item{
    width: 445px ;
    display: flex;
    margin-top: 44px;
    margin-left: 80px;
}
.works_text_item .works_number h4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--titillium);
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
}
.works_text_item p{
    width: 350px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--titillium);
    color: var(--primary-color);
    padding-left: 10px;
}
.works_text_item p span{
    display: block;
}
.works_video{
    width: 550px;
    padding-top: 24px;
    display: flex;
    justify-content: center;
}
.works_video video{
    width:550px;
    height:416px;
    border-radius: 30px;
}
/* ------------ Works Part End ------------ */

/* ========= Service Part Start ========= */
#downloads{
    width: 100%;
    padding: 0;
    background: url(../images/bg2.jpg);
}
.row .download_text h3{
    font-size: 36px;
    font-weight: 600;
    font-family: var(--titillium);
    color: var(--brand-color); 
    text-align: left;
    padding-top: 50px;

}
.row .download_text h4{
    font-size: 22px;
    font-weight: 600;
    font-family: var(--titillium);
    color: var(--primary-color); 
    text-align: left;
    padding-top: 5px;
}
.row .service{
    display: flex;
}
.row .service img{
    max-width: 100%;
    max-height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-top: -132px;
    margin-bottom: -72px;
    margin-left: 848px;
    position: relative;
}


/* ------------ Service Part End ------------ */
/* ========= Footer Part Start ========= */
footer{
    width: 100%;
    padding-top: 15px;
    background: linear-gradient(327deg, #576DB4 , transparent);
}
.footer_left .footer_logo img{
    height: 60px;
}
.footer_left .footer_text p{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--titillium);
    color: var(--primary-color);
    text-align: justify;
    margin-top: 15px;
    text-transform: uppercase;
}
.footer_left .footer_text p span{
    display: block;
    margin-top: 50px;
}
.footer_left .footer_social_icon ul{
    width: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer_left .footer_social_icon ul li a{
    font-size: 25px;
    color: var(--primary-color);
    transition: 0.2s all linear;
}
.footer_left .footer_social_icon ul li a:hover{
    color: var(--brand-color);
}
.footer_menu,
.footer_form{
    margin-top: 30px;
}
.footer_menu h4,
.footer_form h4{
    font-size: 22px;
    font-weight: 600;
    font-family: var(--titillium);
    color: var(--primary-color);
}
.footer_menu ul,
.footer_form form{
    width: 100%;
    margin-top: 18px;
}
.footer_menu ul li a{
    font-size: 16px;
    font-weight: 600;
    font-family: var(--titillium);
    color: var(--primary-color);
    line-height: 32px;
    transition: 0.2s all linear;
}
.footer_menu ul li a:hover{
    color: var(--brand-color);
}
.footer_form form input {
    width: 100%;
    height: 40px;
    background: var(--primary-color);;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--titillium);
    color: #fff;
}
.footer_form form textarea{
    width: 100%;
    height: 100px;
    background: #3F3F41;
    border-radius: 15px;
    padding: 10px 0 0 20px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--titillium);
    color: #fff;
}
.footer_form form input::placeholder,
.footer_form form textarea::placeholder{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--titillium);
    color: #fff;
}
.footer_form form button{
    display: block;
    width: 150px;
    height: 40px;
    background: var(--brand-color);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--titillium);
    color: #fff;
    margin: 10px auto 0 auto;
    transition: 0.2s all linear;
}
.footer_form form button:hover{
    background: #fff;
    color: var(--brand-color);
    transform: scale(1.1);
}
.copywrite{
    width: 100%;
    height: 100px ;
    background: #000;
    margin-top: 100px;
}
.copywrite_content{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copywrite_text h6{
    font-size: 12px;
    font-weight: 500;
    font-family: var(--titillium);
    color: #fff;
}

/* ------------ Footer Part End ------------ */


/* ====================== Carlist Start ===================== */
#carlist{
    padding: 80px 0;
}
a{
    color: unset;
    text-decoration: none;
}
/* .container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
} */
.title{
    font-size: xx-large;
    padding: 20px 0;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
/* ====================== detail page  =====================*/
/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}






/* ====================== Carlist Start ===================== */